h1 {
    text-align: center;
}

.boxes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.boxes .box {
    padding: 5px;
}

.boxes a {
    color: inherit;
    text-align: center;
}

.boxes a:hover {
    background-color: var(--color-bg-light);
}
