.boxes {
    display: grid;
    grid-gap: 30px;
}

.right {
    grid-column: 2;
    grid-row: 1;
    text-align: justify;
    width: 500px;
}

.left {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 1em 0;
}

.title {
    font-variant: small-caps;
    font-size: 20px;
}

#star {
    color: #fdda4e;
}

.follower-count-container {
    color: orange;
}

#season-nav {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}
#season-nav li {
    background: lightyellow;
    margin: 0;
}
#season-nav li.active {
    background: palegoldenrod;
}
#season-nav li a {
    display: inline-block;
    padding: .5em 1em;
}
#season-nav li:hover {
    background: palegoldenrod;
}
