<h1>About this Website</h1>

<h2>What does it do?</h2>
<p>
    Never miss on your favorite shows ! If you signup, you will be able to subscribe to your favorite TV shows. We will then notify you by email when the next episode is going to be released !
    Not only will you not get spoiled anymore, you will be able to spoil your frends to your heart's content by always watching the next episode when it comes out !
    <br/>
    So, what are you waiting for ?
</p>
<h2>Creators</h2>

<span class="title">Cécile GONTIER, Benoit LAURÈS, Florimond MANCA</span>
<p>
    Students at CentraleSupélec (France), majoring in Computer Sciences, we created this website as a project for the Oriented Object course, taught by J.P. Poli.
</p>

<h2>API</h2>
The API used for this project was <a href="https://developers.themoviedb.org/3/getting-started/introduction">TheMovieDataBase API</a>.