{% extends 'series/base.html' %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="{% static 'series/show_details.css' %}">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
{% endblock %}

{% block content %}
    <h1>{{ show.title }}</h1>

    <div class="boxes">
        <div class="left">
            <img src={{ show.big_logo_path }}>
        </div>

        <div class="right">
            <ul>
                <li>
                    <span class="title">Created by:</span>
                    {{ show.directors|join:', ' }}
                </li>
                <li>
                    <span class="title">First released on:</span>
                    {{ show.creation_date|date }}
                </li>
                <li>
                    <span class="title">Genres:</span>
                    {{ show.genres|join:', ' }}
                </li>
                <li><span class="title">Synopsis:</span>
                    {{ show.synopsis }}
                </li>
                <li>
                    <span class="title">Last episode:</span>
                    {{ show.last_episode_date|date }}
                </li>
                <li>
                    <span class="title">Next episode:</span>
                    {% if show.next_episode_date %}
                        {{ show.next_episode_date|date }}
                    {% else %}
                        No future episode planned.
                    {% endif %}
                </li>
            </ul>

            <p class="follower-count-container">
            <span id="follower-count">
                {{ num_followers }}
            </span>
                followers
            </p>

            {% if user.is_authenticated %}
                <i id="star"
                   class="{% if follows %}fas{% else %}far{% endif %} fa-star fa-2x"
                   onclick="manager.toggle({{ show.id }})"></i>
                <span>Subscribe/Unsubscribe to this show</span>
            {% else %}

                {% url 'show_details' show.id as redirect_url %}
                <p><a href="{% url 'login' %}?next={{ redirect_url }}">Login</a>
                    to subscribe to this show and be notified
                    of brand new episodes !</p>

            {% endif %}
        </div>
    </div>

    <ul id="season-nav">
        {% for season_number in seasons_range %}
            <li {% if season and season.number == season_number %}class="active"{% endif %}>
                <a href="?season={{ season_number }}">
                    Season {{ season_number }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if season %}
        <ul id="season-episodes">
            {% for episode in season.episodes reversed %}
                <li>
                    <img src="{{ episode.still_path }}">
                    <div class="body">
                        <p>
                            <strong>
                                Episode {{ episode.number }}
                            </strong>
                        </p>
                        <p class="muted">
                            <small>{{ episode.air_date|date }}</small>
                        </p>
                        <p>
                            <em>{{ episode.synopsis }}</em>
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript"
            src="{% static 'series/followManager.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'series/counter.js' %}"></script>
    <script type="text/javascript" src="{% static 'series/csrf.js' %}"></script>
    <script type="text/javascript">
        const counter = new Counter('follower-count');
        const manager = new FollowManager('star', {{  follows|yesno:'true,false' }});
        manager.onFollow(() => counter.increment());
        manager.onUnFollow(() => counter.decrement());
    </script>
{% endblock %}
