{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'series/show_details.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'series/style.css' %}">

<!--Navigation bar-->
<ul class="navbar">
    <li class="onglet"><a href="{% url 'search_series'%}" id="active">Search</a></li>
    <li class="onglet"><a href="{% url 'search_series'%}">Favorite shows</a></li> <!--TODO link to favorite shows page-->
    <li class="onglet"><a href="{% url 'search_series'%}">Profile</a></li> <!--TODO link to profile page-->
    <li class="onglet"><a href="{% url 'search_series'%}">About</a></li> <!--TODO link to about page-->
</ul>

<div class = "header">
    <div class="header-left">
        <img  src="{% static 'series/uptv_logo.png' %}">
    </div>
    <div class="header-right">
        <span>Never miss on</span> </br>
        <span>your favorite</span> </br>
        <span id="show">shows</span>
    </div>
</div>




<h1>{{ show.title }}</h1>

<div class="boxes">
    <div class="left">
        <img src={{ show.big_logo_path }}>
    </div>

    <div class="right">
        <ul>
            <li> <span class="title">Created by </span> {{ show.directors|join:', ' }}</li>
            <li> <span class="title">First released on </span> {{ show.creation_date }}</li>
            <li> <span class="title">Genres : </span> {{ show.genres|join:', ' }}</li>
            <li> <span class="title">Synopsis : </span> {{ show.synopsis }}</li>
            <li> <span class="title">Last episode : </span> {{ show.last_episode_date }}</li>
            {% if show.next_episode_date %}
                <li> <span class="title">Next episode : </span> {{ show.next_episode_date }}</li>
            {% else %}
                <li> <span class="title">Next episode : </span> No future episode planned</li>
            {% endif %}
        </ul>
    </div>

    </div>
