/** CSS applied to all pages. */

:root {
    --color-primary: #fdda4e;
    --color-primary-darker: #ffe670;
    --color-accent: #ef2734;
    --color-bg-light: lightyellow;
    --color-button-default: #ccc;
}

body, html {
    margin-left: 50px;
    margin-right: 50px;
    font-family: Verdana, Geneva, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: inherit;
}

a:hover {
    color: var(--color-accent);
}

nav {
    display: grid;
    grid-template-areas: "brand links .";
    grid-template-columns: 5em 1fr 5em;
    width: 100%;
    margin-bottom: 1em;
}

nav #brand {
    grid-area: brand;
}

nav #brand img {
    width: 100%;
    height: auto;
}

ul.navbar {
    grid-area: links;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    margin: 0.8em 0 0;
}

li.tab {
    display: inline;
}

li.tab > a {
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}

#active {
    color: var(--color-accent);
    margin-right: 20px;
    margin-left: 20px;
}

#show-brand {
    font-variant: small-caps;
    font-size: 58px;
    text-align: center;
    horiz-align: center;
    line-height: 0.75em;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin-top: 1rem;
    border-top: gray 1px solid;
    text-align: center;
}

button, input[type="submit"] {
    display: inline-flex;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    padding: .5em 1em;
    border-radius: 3px;
    font-size: inherit;
    outline: inherit;
    border: none;
    cursor: pointer;
    background: lightgray;
    background: var(--color-primary);
    color: var(--color-accent);
}

button:hover, input[type="submit"]:hover {
    background: var(--color-primary-darker);
}

input, input[type="text"] {
    outline: none;
    border: 1px solid lightgray;
    font-size: inherit;
    padding: .5em 1em;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}