{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpTV</title>
    <meta name="description" content="Never miss on your favorite shows!">

    <!-- Common style sheets -->
    <link rel="stylesheet" href="{% static 'base.css' %}">

    <!-- Extra style sheets -->
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav>
    <ul class="navbar">
        <li class="tab">
            <a href="{% url 'search_series' %}"
                    {% if 'search' in request.path %}
               id="active"
                    {% endif %}>Search</a>
        </li>
        {% if not user.is_authenticated %}
            <li class="tab">
                <a href="{% url 'login' %}">Login</a>
            </li>
        {% else %}
            <li class="tab">
                <a href="{% url 'followed_series' %}"
                        {% if 'followed' in request.path %}
                   id="active"
                        {% endif %}>Favorite shows</a>
            </li>
            <li class="tab">
                <a href="{% url 'profile' %}"
                        {% if 'profile' in request.path %}
                   id="active"
                        {% endif %}>Profile</a>
            </li>
            <li class="tab">
                <a href="{% url 'logout' %}">
                    Logout
                </a>
            </li>
        {% endif %}
        <li class="tab">
            <a href="{% url 'about' %}"
                    {% if 'about' in request.path %}
               id="active"
                    {% endif %}>About</a>
        </li>
    </ul>
</nav>

<header>
    <div class="left">
        <img src="{% static 'series/uptv_logo.png' %}">
    </div>
    <div class="right">
        <span>Never miss on</span> <br/>
        <span>your favorite</span> <br/>
        <span id="show-brand">shows</span>
    </div>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    Powered by TheMovieDB
</footer>

{% block scripts %}{% endblock %}
</body>
</html>
